/* Styles go here */

body {
    font-family: 'Open Sans', sans-serif;
    background: #222;
    color: #CCC;
}
.container {
    margin: 0 auto;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -50px;
}